absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
astunparse
attrs
bcrypt
black
boto3
botocore
certifi
cffi
charset-normalizer
click
cryptography
distro
dnspython
ecdsa
email-validator

fastapi
fastuuid
filelock
flake8
flatbuffers
frozenlist
fsspec
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
importlib_metadata
iniconfig
isort
Jinja2
jiter
jmespath
joblib
jq
jsonschema
jsonschema-specifications
# keras
libclang
librt
litellm
Markdown
markdown-it-py
MarkupSafe
mccabe
mdurl
ml_dtypes
motor
mpmath
multidict
mypy
mypy_extensions
namex
networkx
nltk
numpy
oauthlib
openai
opt_einsum
optree
packaging
pandas
passlib
pathspec
pillow
platformdirs
pluggy
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
Pygments
PyJWT
pymongo
pyparsing
pytest
requests
beautifulsoup4
fake-useragent
playwright

python-dateutil
python-dotenv
python-jose
python-multipart
pytokens
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
s3transfer
s5cmd
safetensors
scikit-learn
scipy
shellingham
six
sniffio
starlette
stripe
sympy
tenacity
# tensorboard
# tensorboard-data-server
# tensorflow
termcolor
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typer
typer-slim
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchfiles
websockets
Werkzeug
wrapt
yarl
zipp
